@font-face {
    font-family: "Ubuntu-Bold";
    src: local('Ubuntu-Bold'),
    url('../assets/fonts/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: local('Ubunutu-Medium'),
    url('../assets/fonts/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: "Ubuntu-Regular";
    src: local('Ubuntu-Regular'),
    url('../assets/fonts/Ubuntu-Regular.ttf');
}
:root{
    --Marineblue: #02295a;
    --Purplishblue: #473dff;
    --Pastelblue: #adbeff;
    --Lightblue: #bfe2fd;
    --Strawberryred: #ed3548;
    
    --Coolgray: #9699ab;
    --Lightgray: #d6d9e6;
    --Magnolia: #f0f6ff;
    --Alabaster: #fafbff;
    --White: #ffffff;
    background-color: var(--Magnolia);
    font-family: "Ubuntu-Regular", sans-serif;
}

.sidebar{
    width: 280px;
    height: 570px;
    background: url("/src/assets/images/bg-sidebar-desktop.svg" );
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
}

.stepper{
    margin-left: 50px;

}

/*User Info Styles*/
.usercontainer{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.usercontainer label{
    color: var(--Marineblue);
}
.usercontainer h1{
    color: var(--Marineblue);
    font-weight: 700;
    margin-bottom: 0;
}
.usercontainer p{
    font-size: 15px;
    font-weight: 400;
    color: var(--Coolgray);
    margin-bottom: 30px;
}
.required{
    text-align: right;
}
.requiredemail{
    text-align: right;
}
.labels{
    display: flex;
    justify-content: space-between;
}

.buttonFirst{
    display: flex !important;
  justify-content: right !important;

}


/*Plans Style*/
.planscontainer{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    height: auto;
    width: fit-content;
    color: var(--Coolgray);
}

.planscontainer h1{
    color: var(--Marineblue);
    font-weight: 700;
    margin-bottom: 0;
}
.planscontainer p{
    font-size: 15px;
    font-weight: 400;
    

}
.planname {
    margin-top: 30%;
    margin-left: 10px;
    color: var(--Marineblue);
}
.billingtype{
    margin-left: 10px;
margin-top: -10%;
}
.boxplan{
    border: 1px solid var(--Lightgray);
    border-radius: 10px;
    width: 140px;
    height: 150px;
    transition: border-color 0.3s ease-in-out;
}
.boxplan img {
    margin-top: 10px;
    margin-left: 10px;
}
.boxplan:hover {
    border: 1px solid var(--Purplishblue);
    cursor: pointer;
}
.boxplan.selected {
    border: 1px solid var(--Purplishblue);
    cursor: pointer;
}
.gridplan:focus {
    
    outline: 2px solid #007bff;
} 
.boxcontainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 2rem;
}

.gridplan{
    display: flex;
    height: 180px;
    width: 140px;
}

.switchplan{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnPlans{
    display: flex !important;
    justify-content: space-between !important;
}

#monthly{
    color: var(--Marineblue);
}
#yearly{
    color: var(--Marineblue);
}
/*Geral*/
.attribution{
    text-align: center;
}